@font-face {
    font-family: 'OpticianSans';
    src: url('Optiker-K.woff2') format('woff2'), /* Modern Browsers */
         url('Optiker-K.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
  font-family: 'OpticianSans', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

#main-menu ul {
  list-style-type: none;
}

section {
  width: 175px;
  height: 220px;
  background-color: rgb(223, 207, 250);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1200px;
  height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}


.containergrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


#containergrid:target {
  background: yellow;
  display: grid;
  justify-content: space-between;
}



.box {
/*  width: 75px;
  height: 75px; */
  background-color: rgb(223, 207, 250);
  border: 2px solid black;
  padding: 10%;
}
